In [13]:
# imports
import sys
import os
import socket
import pandas as pd
import glob
from datetime import datetime

In [14]:
# read in all dementia diagnosis rows from clinical files
dementia_patients_primary_care = pd.read_parquet(os.getcwd() + '/dementia_patients_data.parquet')

In [15]:
dementia_patients_primary_care.head()

,e_patid,eventdate,sysdate,constype,consid,medcode,episode,enttype,adid
408,10010191,2000-01-24,2004-02-10,3,136438,4500,4,2,0
423,10010191,2001-09-03,2001-10-04,3,136455,1917,4,2,0
5893,100349220,1995-11-28,2016-04-04,3,1483382,1916,4,2,0
5908,100349220,2001-02-27,2016-04-04,3,1483418,8634,1,2,0
5911,100349220,1998-07-10,2016-04-04,3,1483382,8634,4,2,0

In [16]:
# get unique e_patids
e_patids = dementia_patients_primary_care['e_patid'].unique()

In [17]:
# get date of first diagnosis for each unique e_patid
first_dementia_code_dates = []
for i in e_patids:
    first_dementia_code_dates += [min(
        dementia_patients_primary_care[dementia_patients_primary_care['e_patid'] == i]['eventdate'])]

In [18]:
# save as dataframe
df_first_dates = pd.DataFrame({"e_patid": e_patids, "eventdate": first_dementia_code_dates})

In [19]:
df_first_dates.head()

     e_patid  eventdate
0   10010191 2000-01-24
1  100349220 1995-11-28
2  100421191 2018-09-04
3  101392191 2018-04-23
4  101764191 2019-05-22

In [20]:
# merge first date of diagnosis for each e_patid to get first diagnosis files
first_dementia_records_pc = df_first_dates.merge(
    right = dementia_patients_primary_care, on = ['e_patid', 'eventdate'], how = 'inner')

In [21]:
first_dementia_records_pc.shape[0]

62555

In [22]:
dementia_patients_primary_care.shape[0]

98506

In [23]:
# save as parquet file
first_dementia_records_pc.to_parquet(os.getcwd() + '/first_dementia_records_in_primary_care.parquet')

In [24]:
first_dementia_records_pc.head()

,e_patid,eventdate,sysdate,constype,consid,medcode,episode,enttype,adid
0,10010191,2000-01-24,2004-02-10,3,136438,4500,4,2,0
1,100349220,1995-11-28,2016-04-04,3,1483382,1916,4,2,0
2,100421191,2018-09-04,2018-09-11,3,75662,1917,4,2,0
3,101392191,2018-04-23,2018-07-20,3,2814489,38678,4,2,0
4,101764191,2019-05-22,2019-06-13,3,2548083,1917,4,2,0